@tailwind base;
@tailwind components;
@tailwind utilities;



/* globals.css */
html {
  min-height: 100vh;
}

body {
  background: linear-gradient(
    to bottom right,
    #1d1d1d,
    #2d2d2d,
    #ff6a00
  );
  background-attachment: fixed;
  min-height: 100vh;
  overflow: hidden;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}